<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{ url.getName() }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ url.getId() }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ url.getName() }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ url.getCreatedAt() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="/urls/{{ url.getId() }}/checks">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        <table class="table table-bordered table-hover" data-test="checks">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
                {% for check in url_checks %}
                    <tr>
                        <td>{{ check.getId() }}</td>
                        <td>{{ check.getStatusCode() }}</td>
                        <td class="text-break">{{ check.getH1() }}</td>
                        <td class="text-break">{{ check.getTitle() }}</td>
                        <td class="text-break">{{ check.getDescription() }}</td>
                        <td>{{ check.getCreatedAt() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>